@font-face {
	font-family: "iconfont";
	src:url('~@/static/style/iconfont/iconfont.ttf') format('truetype');
		/* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-nav-back:before {
	content: "\e6cd";
}

.icon-user-type:before {
	content: "\e645";
}

.icon-verify-code:before {
	content: "\e656";
}

.icon-idcard:before {
	content: "\e674";
}

.icon-phone:before {
	content: "\e61e";
}

.icon-password:before {
	content: "\e678";
}

.icon-confirm-password:before {
	content: "\e613";
}

.icon-customs:before {
	content: "\e619";
}
